@font-face {
  font-family: KEL;
  src: url(../fonts/KEL.ttf);
}

@font-face {
  font-family: Elastic-Stretch;
  src: url(../fonts/Elastic-Stretch.ttf);
}

@font-face {
  font-family: Vantely;
  src: url(../fonts/Vantely.otf);
}

@font-face {
  font-family: Aquire;
  src: url(../fonts/Aquire.otf);
  font-weight: normal;
}

@font-face {
  font-family: Aquire;
  src: url(../fonts/Aquire-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Aquire;
  src: url(../fonts/Aquire-Light.otf);
  font-weight: 300;
}

body {
  font-family: Aquire;
}


.kel {
  font-family: KEL;
}


.vantely {
  font-family: Vantely;
}
