$small-sp: .33rem
$normal-sp: 1rem
$large-sp: 3rem

$margin-left-first-page: 16vw

$nav-height: calc($small-sp / 3 + $small-sp + $normal-sp)

$black: #101010
$white: #f1f7ed
$green: #7ca982
$purple: #c300ff
nav li::after
  transition: width 1s, filter 1s, left 1s

nav li:hover::after
  width: 100%
  filter: opacity(100%)
  left: 0%

header
  animation-name: header-in
  animation-duration: 3s

nav
  animation-name: nav-in
  animation-duration: 3s

div.page header h1
  animation-name: giorgio
  animation-delay: 3s
  animation-duration: 3s
  animation-direction: alternate
  animation-iteration-count: infinite
  animation-timing-function: ease

@keyframes line
  0%
    width: 0%
    height: 0%
    border-bottom-left-radius: 2vw
  17%
    width: 0%
    height: 100%
  34%
    width: 100%
  50%
    border-bottom-left-radius: 2vw
  100%
    border-bottom-left-radius: 34vw

@keyframes header-in
  0%
    filter: opacity(0%)
    margin-left: calc($margin-left-first-page / 3)
  100%
    filter: opacity(100%)
    margin-left: $margin-left-first-page

@keyframes nav-in
  0%
    filter: opacity(0%)
  100%
    filter: opacity(100%)

@keyframes giorgio
  100%
    text-shadow: .125rem 0rem 0rem $purple
html
  background-color: $black
  color: $white

h1
  color: $green
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar
  display: none

/* Hide scrollbar for IE, Edge and Firefox */
html
  /* IE and Edge */
  -ms-overflow-style: none
  /* Firefox */
  scrollbar-width: none   Firefox

a
  color: inherit
  text-decoration: none

  &:visited
    color: inherit

  &:link
    color: inherit

  &:active
    color: inherit
 
div.page
  width: 100vw
  height: 100vh
  max-width: 100%

  & img
    height: 20rem
@font-face
  font-family: "Geo-Sans-Light"
  src: url("../fonts/GeosansLight.ttf")

html
  font-family: "Geo-Sans-Light"
*
  margin: 0
  padding: 0
  line-height: 4rem

nav
  margin-left: $margin-left-first-page
  // margin-top: 2.5rem
  li
    margin-right: $large-sp

header
  margin-left: $margin-left-first-page
.content
  display: flex
  align-items: center
  justify-content: flex-start
  position: relative
  width: 100%
  height: 100%

nav
  position: absolute

nav li a
  padding-bottom: .25rem

nav li
  display: inline
  position: relative

  &::after
    content: ""
    z-index: -1
    position: absolute
    filter: opacity(50%)
    height: 100%
    width: 10%
    left: 45%
    bottom: -.25rem
    border-color: $white
    border-width: .01rem
    border-bottom-style: solid

div.page:nth-child(odd):not(:nth-child(1)) .decorative-line
  transform: scale(1, -1)

.decorative-line
  box-sizing: border-box
  position: absolute
  width: 100vw
  height: calc(100vh - $small-sp / 3)
  z-index: -1

  .piece-1
    width: 100%
    height: 100%
    position: relative
    box-sizing: border-box

    border-bottom-style: solid
    border-left-style: solid
    border-bottom-left-radius: 34vw
    border-width: calc($small-sp / 3)
    border-color: $purple

    animation-name: line
    animation-duration: 3s
    animation-timing-function: ease-out
html
  font-size: calc(1vh + 1vw)

h1
  font-size: 4rem

h2
  font-size: 1.5rem

nav li
  font-size: 1.25rem

