*
  margin: 0
  padding: 0

html
  color: $white
  background-color: $black

div.page
  width: 100vw
  height: 100vh
  max-width: 100%

  & img
    height: 20rem

  &:nth-child(5)
    text-align: center

    & h2
      padding: 2rem

  &:nth-child(6)
    text-align: right

    & .decorations
      transform: scale(1, -1)

.background
  width: 100%
  height: 300%
  z-index: -99
  position: absolute
  background-color: transparent
  background-image: radial-gradient($white 0rem, $black .1rem)
  background-size: 1rem 1rem
  opacity: 10%
  top: 0
  left: 0


.content
  margin: 0 calc($custom-margin / 2)
  height: 100%
  position: relative

.first, .third

  & .content
    display: flex
    flex-wrap: nowrap
    align-items: center
    align-content: center
    justify-content: space-evenly
    animation-name: content-an
    animation-duration: 3s
    animation-timing-function: ease

    @media screen and (max-width: 768px)
      flex-wrap: wrap

    & #about
      width: 30%
      height: auto
      max-width: 21.53rem
      width: 100%
      padding: 1rem

    & header
      width: fit-content
      min-width: fit-content
      padding: 1rem




.second

  & .content
    display: flex
    flex-direction: column
    align-items: center
    align-content: center
    justify-content: center

    & h2
      line-height: 2.5rem
      font-weight: 200
      min-width: max-content

    & .path-line
      width: 100%
      padding: 2rem
      display: flex
      flex-direction: row
      justify-content: space-evenly
      align-content: center
      align-items: center

      & .path-time-line
        border-bottom: solid 1px $white
        width: 100%
        position: absolute

      & .path-point
        width: 1rem
        height: 1rem
        margin: 0 calc(50% / $experiences - 1rem)
        border-radius: 50%
        background-color: $white



    & .path
      display: flex
      flex-direction: row
      align-items: flex-start
      align-content: center
      justify-content: space-between
      margin: 2rem
      width: 100%
      position: relative

      @media screen and (max-width: 481px)
        flex-direction: column
        align-items: center

      & .path-time-line
        border-bottom: solid .1rem transparent
        width: calc((100% * (1 - (1 / $experiences))) - 3rem)
        margin: 0 calc((100% - (100% * (1 - (1 / $experiences)))) / 2 + 1.5rem)
        position: absolute
        height: 1.5rem
        z-index: -100

        @media screen and (max-width: 481px)
          border-left: solid .1rem transparent
          border-bottom: none
          height: calc(100% - 6rem)
          margin: 3rem 0
          width: 0


        & div:nth-child(1)
          position: absolute
          right: calc(-2 * ((100% / $experiences / 2 - 1.5rem) + 1.5rem))
          width: calc((100% / $experiences / 2 - 1.5rem) * 2)
          bottom: 0
          border-bottom: dashed 1px $white
          box-shadow: 3rem 0 3rem inset $white

      & > div.experience
        text-align: center
        width: calc(100% / $experiences)

        &:not(:first-of-type):not(:last-of-type)
          padding: 0 1rem

        & img
          height: 3rem
          padding-bottom: 1rem
          box-shadow: 0 0 1rem 1rem $black

        & h4
          padding: 1rem 0


        @media screen and (max-width: 481px)
          width: 100%
          height: calc((100% - 4rem) / $experiences)
          background-color: $black
          box-shadow: 0 0 1rem 1rem $black
          display: flex
          position: relative
          margin: 3rem 0
          align-items: center

          & > img
            order: 2
            width: 33%
            object-fit: scale-down
            padding: 0 1.5rem
          & > h4
            order: 1
            width: 33%
            text-align: right
            z-index: 2
            padding: 0
          & > p
            order: 3
            width: 33%
            text-align: left
            z-index: 2
            padding: 0

        // &:not(:nth-child(2)):not(:nth-child(4))
        //   @media screen and (max-width: 481px)
        //     margin: 5rem 0

      //
      // & div:not(:first-child):not(:last-child)
      //   padding: 2rem
      //
      // & div:first-child
      //   padding-right: 1rem
      //   padding-top: 1rem
      //   padding-bottom: 1rem
      //
      // & div:last-child
      //   padding-left: 1rem
      //   padding-top: 1rem
      //   padding-bottom: 1rem


.animated-border
  border: transparent
  // background: linear-gradient($black, $black) padding-box, radial-gradient($purple 100%, $black) border-box
  background-size: 5rem 5rem

  animation-name: line-inf-an
  animation-duration: 3s
  animation-delay: 3s
  animation-timing-function: linear
  animation-fill-mode: none
  animation-iteration-count: infinite
  animation-direction: alternate

.decorations
  box-sizing: border-box
  position: absolute
  width: 100vw
  height: calc(100vh - $small-sp / 3)
  z-index: -100

  .line
    width: 100%
    height: 100%
    position: absolute
    box-sizing: border-box
    z-index: -101
    top: 0

    border-bottom-style: solid
    border-left-style: solid
    border-bottom-left-radius: $radius
    border-width: calc($small-sp * 2)
    border-color: $purple

    background: linear-gradient($black, $black) padding-box, radial-gradient($purple 100%, $black) border-box
    border: transparent

  .line.animation
    position: relative
    border: transparent
    // background: linear-gradient($black, $black) padding-box, radial-gradient($purple 100%, $black) border-box
    background-size: 1rem 1rem
    z-index: -100

    animation-name: line-an, line-inf-an
    animation-duration: 3s, 3s
    animation-delay: 0s, 3s
    animation-timing-function: ease-out, linear
    animation-fill-mode: forwards, none
    animation-iteration-count: 1, infinite
    animation-direction: normal, alternate

    border-bottom-style: solid
    border-left-style: solid
    border-width: .1rem

.animation
  animation: fade 1s

.third
  & .content
    & div
      position: relative
      border: solid .1rem transparent
      border-radius: .5rem

      &:first-child
        padding: 2rem
        width: 50%
        height: 25%

      &:last-child
        width: 15rem
        padding: 2rem

      & h2
        padding-top: 0

      & form
        width: 100%
        height: 100%

        & input[type="text"]
          width: calc(100% - 2rem)
          height: 1.25rem
          background-color: $black
          color: $white
          border-left: solid .1rem transparent
          border-radius: .25rem
          margin: 1rem
          padding-left: .5rem
          caret-color: $purple
          position: absolute
          top: 0
          left: 0

          &:-ms-input-placeholder
            color: $white

          &::placeholder
            color: $white
            opacity: 0.5

          &:focus
            outline: none

        & textarea
          width: calc(100% - 5.1rem)
          height: calc(100% - 4.25rem)
          margin-top: 3.25rem
          margin-bottom: 1rem
          margin-left: 1.1rem
          margin-right: 4rem
          background-color: $black
          color: $white
          caret-color: $purple
          resize: none
          border: none

          &:focus
            outline: none

        & input[type="submit"]
          position: absolute
          bottom: 0
          right: 0
          border-bottom: solid .1rem transparent
          border-radius: .25rem
          color: $white
          background-color: transparent
          border-color: transparent
          padding-bottom: .5rem
          margin: 1rem
          transition: filter 1s
          filter: opacity(50%)

          &:hover
            cursor: pointer
            filter: opacity(100%)


.menu
  height: 100%
  width: max-content
  position: absolute
  display: flex
  flex-direction: column
  z-index: 10
  filter: opacity(0%)
  align-items: center
  animation-fill-mode: forwards
  animation-name: menu-an
  animation-delay: 3s
  animation-duration: 1s
  margin: 1.5rem 8vw

  & span
    background-color: $black
    box-shadow: 0 0 1rem .5rem $black
    margin: 1rem 0

    & button, a
      $side: 1.5rem
      height: $side
      width: $side
      background-color: $black
      border-radius: 100%
      border-width: 0
      color: $white
      filter: opacity(25%)
      transition-duration: 1s
      font-size: 100%

      &:hover
        cursor: pointer
        filter: opacity(100%)

      & img
        height: inherit

  &.left
    left: 0

    & button, a
      filter: opacity(25%)


  &.right
    right: 0

    & button, a
      filter: opacity(50%)
