*
  font-size: clamp(3px, calc(1.1vh + 1.1vw), 25px)
  font-weight: 200
  line-height: 1.1rem
  font-family: "Montserrat", sans-serif

h1, h2
  color: $black
  text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white
  line-height: 4rem

  & span
    font-size: inherit
    transition: text-shadow 0.25s

    &:hover
      text-shadow: -1px 0 $purple, 0 1px $purple, 1px 0 $purple, 0 -1px $purple

h2, h3, h4, h5, h6
  padding: 1.5rem 0
  font-weight: 400

h1
  font-size: 4rem

h2
  font-size: 3rem

h3
  font-size: 1.75rem

h4
  font-size: 1.33rem

p
  font-size: 1rem

a
  color: inherit
  text-decoration: none

  &:visited
    color: inherit

  &:link
    color: inherit

  &:active
    color: inherit
