h1, h2
  color: $green

h1
  font-size: 4rem

h2
  font-size: 2.5rem

h3
  font-size: 1.5rem

a
  color: inherit
  text-decoration: none

  &:visited
    color: inherit

  &:link
    color: inherit

  &:active
    color: inherit

p
  line-height: 1rem
