/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

@font-face {
  font-family: "Geo-Sans-Light";
  src: url("../fonts/GeosansLight.ttf");
}
@font-face {
  font-family: "Gidole-Regular";
  src: url("../fonts/GidoleRegular.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf");
}
* {
  font-family: "Montserrat";
}

#language-toggler {
  background-color: transparent;
  border-width: 0;
  color: #f1f7ed;
  filter: opacity(50%);
  transition-duration: 1s;
}
#language-toggler:hover {
  cursor: pointer;
  filter: opacity(100%);
}

@keyframes line-an {
  0% {
    width: 0%;
    height: 0%;
    border-bottom-left-radius: 2vw;
  }
  17% {
    width: 0%;
    height: 100%;
  }
  34% {
    width: 100%;
  }
  50% {
    border-bottom-left-radius: 2vw;
  }
  100% {
    border-bottom-left-radius: 16vw;
  }
}
@keyframes header-an {
  0% {
    filter: opacity(0%);
    margin-left: -16vw;
  }
  100% {
    filter: opacity(100%);
    margin-left: 0;
  }
}
@keyframes nav-an {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}
@keyframes about-an {
  0% {
    filter: opacity(0%);
    margin-left: -16vw;
  }
  100% {
    filter: opacity(100%);
    margin-left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(2px, 1vh + 1vw, 22.5px);
  background-color: #101010;
  color: #f1f7ed;
}

div.page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
div.page img {
  height: 20rem;
}
div.page:nth-child(odd):not(:nth-child(1)) .decorations {
  transform: scale(1, -1);
}

nav {
  position: absolute;
  z-index: 1;
  animation-name: nav-an;
  animation-duration: 3s;
  margin-left: 16vw;
}
nav li {
  display: inline;
  position: relative;
  font-size: 1.25rem;
  margin-right: 3rem;
}
nav li a {
  padding-bottom: 0.25rem;
}
nav li a::after {
  content: "";
  z-index: 1;
  position: absolute;
  filter: opacity(50%);
  height: 100%;
  width: 10%;
  left: 45%;
  bottom: -0.25rem;
  border-color: #f1f7ed;
  border-width: 0.01rem;
  border-bottom-style: solid;
  transition: width 1s, filter 1s, left 1s;
}
nav li a:hover::after {
  width: 100%;
  filter: opacity(100%);
  left: 0%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
  margin: 0 calc(16vw - 4rem);
}

.decorations {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 0.11rem);
  z-index: -1;
}
.decorations .line {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-left-radius: 16vw;
  border-width: 0.165rem;
  border-color: #c300ff;
  animation-name: line-an;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.decorations .curve {
  width: calc(100% - 16vw);
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 16vw;
  border-width: 0.165rem;
  border-color: #101010;
  border-right-color: #c300ff;
}

header {
  animation-name: header-an;
  animation-duration: 3s;
  animation-timing-function: ease;
  padding: 2rem;
}

#about {
  width: 21.97rem;
  animation-name: about-an;
  animation-duration: 3s;
  animation-timing-function: ease;
  line-height: 1rem;
  padding: 2rem;
}

.menu {
  height: 100%;
  width: 3rem;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

* {
  line-height: 4rem;
  font-weight: 200;
}

br {
  line-height: 1rem;
}

h1, h2 {
  color: #7ca982;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:link {
  color: inherit;
}
a:active {
  color: inherit;
}

p {
  line-height: 1rem;
}

/*# sourceMappingURL=main.css.map */
